<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info">
    <Properties>
        <property name="pattern_console">%relative %d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5}- %msg%n</property>
        <property name="pattern_file">%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level %logger{5}- %msg%n</property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern_console}"/>
        </Console>
        <File name="File" fileName="logs/log.txt" bufferedIO="true">
            <PatternLayout pattern="${pattern_file}"/>
        </File>
        <RollingFile name="FileRolling" filename="logs/text_roll.log" append="true"
                     filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log">
            <PatternLayout pattern="${pattern_file}"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="5 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="5"/>
        </RollingFile>
        <RollingFile name="FileZip" filename="logs/text_arch.log" append="true"
                     filePattern="logs/${date:yyyy-MM-dd}/%d{yyyy-MM-dd_HH-mm}_%i.log.zip">
            <PatternLayout pattern="${pattern_file}"/>
            <!--            <BurstFilter level="INFO" rate="16" maxBurst="100"/>-->
            <Policies>
                <SizeBasedTriggeringPolicy size="15 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="Log_Console" level="trace" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="Log_File" level="trace" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
        <Logger name="File_Rolling" level="trace" additivity="false">
            <AppenderRef ref="FileRolling"/>
        </Logger>
        <Logger name="Zip_Rolling" level="trace" additivity="false">
            <AppenderRef ref="FileZip"/>
        </Logger>

        <Root level="debug">
            <!--            <AppenderRef ref="FileZip"/>-->
            <AppenderRef ref="FileRolling"/>
            <!--            <AppenderRef ref="File"/>-->
            <AppenderRef ref="Console" level="debug"/>
        </Root>
    </Loggers>
</Configuration>